.titlePage {
    margin-bottom: 30px;
}

.submitButton {
    margin-top: 30px;
}

.logPage {
    margin-top: 15%;
    height: 25%;
    width: 30%;

}

.account{
    margin-top: 20px;
    width: 250px;
}

.logButton {
    margin-top: 30px;
    width: 50px;
    margin-bottom: 195px;
}

.back{
    background:url(../images/back2.jpg);
    background-size: 100%,100%;
    /*height: 600px;*/

}


